{% extends 'design_app/base.html' %}

{% block content %}
<div class="auth-form card">
    <div class="card-body text-center">
        <h2 class="card-title text-center mb-4 fw-bold">Пароль изменен</h2>

        <div class="alert alert-success">
            <p class="mb-0">
                Ваш пароль был успешно изменен. Теперь вы можете войти в систему с новым паролем.
            </p>
        </div>

        <div class="text-center mt-4">
            <a href="{% url 'login' %}" class="btn btn-primary">Войти в систему</a>
        </div>
    </div>
</div>
{% endblock %}